@import 'themes\common.variables'

body
	background-color: $gray
	font-family: 'Open Sans', sans-serif;

.mx-auto
	margin: auto
	
.container-section,.layout-padding
	width: 100%
	padding: 1rem 15px !important
	margin-right: auto
	margin-left: auto
	@media (min-width: 576px)
		max-width: 540px;
	@media (min-width: 768px)
		max-width: 720px;
	@media (min-width: 992px)
		max-width: 960px;
	@media (min-width: 1200px)
		max-width: 1140px;

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col:not(input):not(.q-input-target),
	.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
	.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
	.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
	.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
	.col-xl-auto
		position: relative !important
		padding-right: 15px !important
		padding-left: 15px !important

.border-l
	border-left: 1px #CCCCCC solid
.border
	border: 1px #CCCCCC solid
.border-t-0
	border-top: none
.col-checkout
	max-width: 80px !important
.col-count
	max-width: 200px !important
	.q-input
		margin: 0px
	
.w-50
	width: 50%
.font-weight-bold
	font-weight: bold
.d-inline-block
	display: inline-block
.d-block
	display: block

.mb-3, .my-3
	margin-bottom: 1rem !important

.mb-0, .my-0
	margin-bottom: 0rem !important;
.mt-1, .my-1
	margin-top: .5rem !important;
.mb-1, .my-1
	margin-bottom: .5rem !important;
.mt-2, .my-2
	margin-top: .8rem !important;
.mb-2, .my-2
	margin-bottom: .8rem !important;
.mt-3, .my-3
	margin-top: 1rem !important;
.mb-3, .my-3
	margin-bottom: 1rem !important;
.mt-4, .my-4
	margin-top: 1.5rem !important;
.mb-4, .my-4
	margin-bottom: 1.5rem !important;
.mt-5, .my-5
	margin-top: 2rem !important;
.mb-5, .my-5
	margin-bottom: 2rem !important;
    
.mr-auto, .mx-auto
	margin-right: auto !important
.pb-0, .py-0
	padding-bottom: 0rem !important
.pb-1, .py-1
	padding-bottom: 0.5rem !important
.pt-1, .py-1
	padding-top: 0.5rem !important;
.pr-2, .px-2
	padding-right: 0.8rem !important;
.pl-2, .px-2
	padding-left: 0.8rem !important;
.pr-3, .px-3
	padding-right: 1rem !important;
.pl-3, .px-3
	padding-left: 1rem !important;
.pt-3, .py-3
	padding-top: 1rem !important;
.pb-3, .py-3
	padding-bottom: 1rem !important;
	
.bg-gray-10
	background-color: #E1E1E1
	
.container-100
	max-width:100%

.q-select .q-if-inner|
	padding-right 0 !important
	padding-left 0 !important
.q-select .q-if-inner .q-input-target
	padding-right 5px !important

.d-flex {
	display: -ms-flexbox !important
	display: flex !important
}

.align-items-start {
	-ms-flex-align: start !important
	align-items: flex-start !important
}

.align-items-end {
	-ms-flex-align: end !important
	align-items: flex-end !important
}

.align-items-center {
	-ms-flex-align: center !important
	align-items: center !important
}

.align-items-baseline {
	-ms-flex-align: baseline !important
	align-items: baseline !important
}

.align-items-stretch {
	-ms-flex-align: stretch !important
	align-items: stretch !important
}

.align-content-start {
	-ms-flex-line-pack: start !important
	align-content: flex-start !important
}

.align-content-end {
	-ms-flex-line-pack: end !important
	align-content: flex-end !important
}

.align-content-center {
	-ms-flex-line-pack: center !important
	align-content: center !important
}

.align-content-between {
	-ms-flex-line-pack: justify !important
	align-content: space-between !important
}

.align-content-around {
	-ms-flex-line-pack: distribute !important
	align-content: space-around !important
}

.align-content-stretch {
	-ms-flex-line-pack: stretch !important
	align-content: stretch !important
}

.align-self-auto {
	-ms-flex-item-align: auto !important
	align-self: auto !important
}

.align-self-start {
	-ms-flex-item-align: start !important
	align-self: flex-start !important
}

.align-self-end {
	-ms-flex-item-align: end !important
	align-self: flex-end !important
}

.align-self-center {
	-ms-flex-item-align: center !important
	align-self: center !important
}

.align-self-baseline {
	-ms-flex-item-align: baseline !important
	align-self: baseline !important
}

.align-self-stretch {
	-ms-flex-item-align: stretch !important
	align-self: stretch !important
}

.h4
	font-size: 34px
h2,	.h2
	font-size: 2rem
    
.header-col
	max-width: 160px !important
.header-col--orden
	max-width: 200px !important
.header-logo
	max-width: 100% !important
	width: 100%
	
.btn-app
	border-radius: 20px

.border-col-header
	border-right: 1px solid white
	border-left: 1px solid white
	
.q-input
	border-radius: 4px
	// border: 1px solid #80808052
.q-search
	.q-icon
		position: absolute !important
		right: -1px !important
		background: #000000 !important
		height: 100% !important
		padding: 0px 20px !important
		color: #fdd600 !important
		border-radius: 4px !important
		z-index: 1000 !important
		cursor: initial
		top: 0
		border-radius: 0
			
.q-if:not(.q-if-disabled):not(.q-if-error):not(.q-if-warning):hover:before,
.q-if.q-if-readonly:not(.q-if-error):not(.q-if-warning):after
	color: #80808052

.q-search
	padding-right: 40px
